* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ececec;
  min-width: 800px;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  display: grid;
  place-items: center;
  font-size: 18px;
}

h1 {
  font-family: Courgette, sans-serif;
  font-size: 4em;
  margin-bottom: 15px;
}

p {
  padding: 0.7em 0 2em 0;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

.container {
  background: rgb(4, 101, 146);
  color: white;
  padding: 2em;
  margin: 0 50px;
  border-radius: 1em;
  box-shadow: 2px 2px 1px rgb(184, 184, 184), -2px -2px 3px rgb(255, 255, 255),
  2px 2px 1px rgb(177, 177, 177), -2px -2px 3px rgb(255, 255, 255);
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: #fff;
  color: rgb(4, 101, 146);
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px rgb(5, 57, 105), -1px -1px 1px rgb(255, 255, 255),
  2px 2px 3px rgb(5, 60, 110), -2px -2px 1px rgb(255, 255, 255);
}

i.fab, .card h3 {
  color: rgb(4, 101, 146);
}

i.fab:hover, .card h3:hover {
  transition: 0.5s ease-in-out;
  color: #333;
}

.card h3 {
  text-align: center;
  margin-bottom: 0.7em;
}

.card i {
  display: block;
  text-align: center;
}

footer a {
  color: #333;
}

footer p {
  padding: 0;
  margin-bottom: 0.7em;
  text-align: center;
  font-size: 0.8em;
  color: rgb(114, 114, 114);
}
